@import 'partials/reset';
@import 'partials/prefix-mixins';
@import 'partials/layout'; // responsive grid and media queries
@import 'partials/colors';
@import 'partials/branding.scss';
@import 'partials/typography.scss';
@import 'partials/navigation';
@import 'partials/extras.scss';
@import 'partials/basic-style';



/*******************************
  Animations
********************************/
@keyframes moon_transverse {
  0%   { transform: translateX(-250%) translateY(-100%);z-index:1;}
  50%  { transform: translateX(300%) translateY(150%); z-index:1;}
  50.01%  { transform: translateX(300%) translateY(150%);z-index:-1;}
  100% { transform: translateX(-250%) translateY(-100%);z-index:-1;}
}
 